.cart-cost {
    margin-top: 3em;
    width: 100%;
    max-width: 780px;
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.cc-title {
    text-transform: uppercase;
    color: var(--gold-100);
    font-family: var(--displayFont);
    font-weight: 600;
    font-size: 1.1rem;
    letter-spacing: 2px;
}

.cc-summary {
    display: flex;
    flex-direction: column;
}

.ccs-item {
    display: flex;
    justify-content: space-between;
    padding: 1.6em 1em;
    color: var(--white-50);
    font-size: 0.95rem;
}

.ccs-item:nth-of-type(odd) {
    background-color: var(--black-25);
}

.ccs-item:nth-of-type(even) {
    background-color: var(--black-50);
}

.ccs-shipping {
    gap: 1em;
}

.ccss-options {
    display: flex;
    flex-direction: column;
    gap: 1em;
    font-size: 0.75rem;
}

.ccsso-item {
    display: flex;
    align-items: center;
    gap: 1em;
}

.cc-free-shipping {
    margin: 0 1em 0.5rem;
    font-size: 0.78rem;
    color: var(--gold-75);
}

.cc-finish-buying-btn {
    text-transform: uppercase;
    padding: 14px !important;
}

@media (min-width: 598px) {
    .ccs-item {
        padding: 1.6em 1.4em;
    }

    .ccs-item {
        font-size: 0.95rem;
    }

    .ccsso-item {
        font-size: 0.95rem;
    }

    .ccsso-item span {
        margin-left: 1em;
    }

    .ccsso-item:nth-of-type(2) span {
        position: relative;
        right: -16px;
    }
}

@media (min-width: 640px) {
    .ccsso-item span {
        margin-left: 3em;
    }
}

@media (min-width: 840px) {
    .ccsso-item span {
        margin-left: 10em;
    }
}